<header>
    <h1>Bem-vindo ao Meu Blog</h1>
    <nav>
        <a href="{% url 'lista_posts' %}">Lista de Posts</a> |
        <a href="{% url 'cria_post' %}">Criar Post</a>
    
    {% if user.is_authenticated %}
        | <span>Logado como {{ user.username }}</span>
        | <a href="#" onclick="event.preventDefault(); document.getElementById('logout-form').submit();">Logout</a>
        <form id="logout-form" action="{% url 'logout' %}" method="post" style="display: none;">
            {% csrf_token %}
        </form>
    {% else %}
        | <a href="{% url 'login' %}">Login</a>
    {% endif %}
    </nav>
</header>
